@tailwind base;
@tailwind components;
@tailwind utilities;


.sidebarnavbtn::after{
  content: "";
  position: absolute;
  width:6%;
  top:0;
  height:100%;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s ;
  
  background-color:rgb(238, 69, 69);
  
  
}

.sidebarnavbtn{
    position: relative;
    overflow: hidden;
}
 
 /* Navigation Arrows */
 .swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000000; /* Change arrow color */
  /* background-color: #ff0606; Change arrow background color */
}

.swiper-pagination {
  bottom: 10px; /* Adjust pagination position */
}

.swiper-pagination-bullet {
  width: 10px; /* Adjust bullet width */
  height: 10px; /* Adjust bullet height */
  background-color: #000; /* Change bullet color */
  opacity: 0.5; /* Change bullet opacity */
}

.swiper-pagination-bullet-active {
  background-color: #000;
  color:red; /* Change active bullet color */
  opacity: 1; /* Change active bullet opacity */
}


.catbox{
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;  
}
.catbtn{
  /* border:solid rgb(0, 55, 255) 1px; */
  padding: 5px;
  padding-left: 10px;
  padding-right:10px;
  border-radius: 4px;
  justify-self: end;
  background-color: #3784f9;
  font-weight: 600;
  color:white
}
.catbtn:hover{
  background-color: #609bf3;
}

body{
  background-color: white;
  overflow-x:hidden;
}


.catbox:hover{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
}

::-webkit-scrollbar{
  background-color: red;
  width:4px;
}

::-webkit-scrollbar-thumb{
  background-color: black;
  height:30px;
  width:3px;
}



  .cta-btn{
    
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 10px;
    border:solid 0.4px red;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  }

  .cta-btn  i{
  display: none;
  }
  
  .cta-btn p{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  }
  .cta-btn i{
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.4s;
  }
  .cta-btn:hover i{
    /* transform: translateX(8px); */
    display:block;
  }

 .vishal
  {
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
  }
  .searchbar{
   transition: all cubic-bezier(0.19, 1, 0.22) 0.5s;
    outline: none;
    border: solid 0.4px black;
  }
  .searchbar:focus{
    border:none;
    box-shadow: 0 0 3px 0.1rem rgba(238, 68, 68, 0.312);
  
  }
  .course-card{
    border:solid 0.4px rgba(222, 222, 222, 0.773);
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
  }
 @font-face {
  font-family: vishal;
  src: url(./assets/font1.ttf);
 }
 *{
  font-family: vishal;
 }

 .tcd{
   /* border:solid 0.4px rgba(246, 29, 29, 0.715); */
   box-shadow: rgba(255, 3, 3, 0.418) 0px 1px 2px;
   /* box-shadow: 3px 3px rgba(241, 18, 14, 0.823) , rgba(246, 46, 46, 0.204) 5px 5px 5px, rgba(255, 0, 0, 0.078) 8px 8px 8px; */
 }

 .tutorprofile{
  margin-top: 10px;
 }
 
 .blinker{
  background-color: #e0ddddbf;
   animation:blinker 3s linear  infinite  ;
   
   
  }


  @keyframes blinker {
    0%{
      opacity:0.3;
    }
    12%{
      opacity:0.4;
    }
    24%{
      opacity:0.6;
    }
    36%{
      opacity:0.8;    
    }
    48%{
      opacity:1;
    }
    60%{
      opacity:0.8;
    }
    72%{
      opacity:0.6;
    }
    84%{
      opacity:0.4;
    }
    96%{
      opacity:0.3;
    }
    100%{
      opacity: 0.3;
    }
    
  }


  .container {
    background: #fff;
    width: 440px;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 15px;
  }
  
  .container .heading {
    display: flex;
    gap: 20px;
    text-align: center;
  }
  
  .container .heading h1 {
    font-weight: 800;
  }
  
  .container .question {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .container p {
    color: hsl(292, 16%, 49%);
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .container .question img {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
  
  .container hr {
    border: 1px solid #d3d3d3;
  }
  
  .attribution {
    margin-top: 40px;
  }
  
  @media (max-width: 565px) {
    .container {
      width: 400px;
    }
  }
  
  @media (max-width: 400px) {
    .container {
      width: 350px;
    }
  }


  .swipeimg{
    background-position: center;
  }

  .testpara::first-letter{
   font-size: 1.8rem;
  }

  .tooltips{
    text-wrap: nowrap;
    background-color: black;
    color:white;
    opacity: 0;

  }
  
  .tooltips::after{
    content: "";
    position:absolute;
    background-color: rgb(0, 0, 0);
    width: 0.8rem;
    height: 0.8rem;
    left:43%;
    top:75%;
    transform: translateX(50%) ,rotate(45deg);
    rotate: 45deg;
   
    
  }
  
  .heart:hover .tooltips{
   opacity: 1;
  }

 /* custom-swiper-styles.css */

/* Custom Navigation Buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #fff !important; /* Change arrow color */
  background: #000 !important; /* Add background color */
  border-radius: 50% !important; /* Make the arrows circular */
  width: 30px !important; /* Custom width */
  height: 30px !important; /* Custom height */
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background: #333 !important; /* Change background on hover */
}

/* Custom Arrow Icons */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important; /* Change arrow size */
}

/* Custom Pagination Bullets */
.swiper-pagination-bullet {
  background-color: #a7a3a3 !important; /* Bullet color */
  opacity: 1 !important; /* Make bullets fully opaque */
  width: 8px !important; /* Bullet width */
  height: 8px !important; /* Bullet height */
}

.swiper-pagination-bullet-active {
  background-color: #000 !important; /* Active bullet color */
}

.testimg{
  background-position: cover;
  width:100%;
  height: 100%;
}


.catbox2{
  border: solid 0.4px rgb(228, 227, 227);
  background-color: #f8f8f8;
}


 

.pagination-container {
  display: flex;
  align-items: center;
}

.pagination-page-number {
  margin: 0 5px;
  width: 35px;
  height: 35px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
}

.pagination-page-number.pagination-active {
  background-color: #131010;
  color: #fff;
  border-color: black;
}

.pagination-arrow {
  border-radius: 5px;
  margin: 0 10px;
  color:white;
  font-size: 1rem;
  font-weight: 800;
  padding: 5px 10px;
  border: 1px solid #ff0505;
  background-color: #e33232;
  cursor: pointer;
}

.pagination-arrow:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.pagination-dots {
  margin: 0 5px;
}


.bc{
  background-size: center;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.imgdiv{
  display: flex;
  justify-content: center;
  justify-items: center;
}

.smb{
  border:solid 0.4px rgba(147, 146, 146, 0.801);
}

.hmb{
  border:solid 2px red;
}




@media (min-width: 500px) and (max-width: 1000px) {
  .libimg{
    width: 90%;
    height:90%;
  } 
   .ccpnc{
    display: flex;
    flex-direction: column;

   }
   .togglenew{
    margin-right: 2rem;
   }
  .ccpnc1{
    width: 100%;
  }
  .hrnwidth{
    width: 50%;
  }
  .coursedetailcontainer{
    display: flex;
    flex-direction: column;
  }
  .cdetfe{
    width: 100%;
  }
  .tutordiv{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:18px

  }
  .tutorimg{
    width: 9vw;
    height: 9vw;
  }
  .cparanw{
    width: 80%;
  }
  .loader{
    margin-right: 60%;
  }
  .lcwn{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
    .crn{
      display: grid;
      grid-template-columns: repeat(2,1fr);
    }
    .qrn{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      padding-left: auto;
       padding-right: 4rem;
    }
    
  .cf{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-top:10%;
  }
  .cfimg{
    width:60%;
  }
  .snw{
    width:26vw;
  }
  .onw{
    width:73vw;
  }
  .msnw{
    width:70vw;
    height:35vh;
  }
  .intiswiper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }
  .tcnw{
    width:80%;
   
  }

  .cta{
    display: flex;
    flex-direction: column; 
    text-align: center;
    width:30vw
  }
  
  .cta h1{
   
    margin-left: auto;
    margin-right: auto;
  }
  .cta h2{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  .ctaimg{
   width: 39rem;
  }
  .ctabtn{
    margin-right: auto;
    margin-left: auto; 
    margin-top: 20%;
  }
 

  }


  @media (min-width: 0px) and (max-width: 500px) {
    .tutordiv{
      display: grid;
      grid-template-columns: repeat(5,1fr);
      gap:18px
  
    }

    .mysearchpagegrid{
      display: grid;
      grid-template-columns: repeat(3,1fr);
    }
    .ccpnc{
    display: flex;
    flex-direction: column;
    }
    .ccpnc1{
      width: 100vw;
    }
    .wei9j309uj20{
      width: 80%;
    }
    .w0390dokdj{
      width: 100%;
      
    }
    .tutorimg{
      width: 14vw;
      height: 14vw;
    }
    .cf{
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: center;
      margin-top:10%;
    }
    .cfimg{
      width:80%;
    }
    .onw{
      width: 100vw;
    }
    .snw{
      position: fixed;
      background-color: white;
      width: 60vw;
      transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.7s;
      
    }
    
    .msnw{
      width: 100vw;
      height:35vh;
    }
    .tcnw{
      width: 100%;
    }

    .cta{
      display: flex;
      flex-direction: column; 
      text-align: center;
      width:100vw
    }
    
    .cta h1{
     
      margin-left: auto;
      margin-right: 20rem;
      width: 100%
    }
    .cta h2{
      text-align: center;
      margin-left: auto;
      margin-right: 20rem;
      width: 100%;
      

    }
    .coursedetailcontainer{
      display: flex;
      flex-direction: column;
    }
    .cdetfe{
      width: 100%;
    }
    .cparanw{
      width: 100%;
    }
    .st1{
      display: flex;
      flex-direction: column;
      justify-items: center;
      justify-content: center;
    }
    .st1:nth-child(1){
      width: 40%;
    }
    .tcd{
      width: 13rem;
      margin-left: 20%;
    }
    .mybtn230{
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      width: 11rem;
    }
    .ewoj393-kl{
      padding-left: 20px;
      padding-right: 20px;
      
    }
    .heart{
      margin-left: auto;
      margin-right: auto;
    }
    .e0j039ndwon{
      display: flex;
      flex-direction: column;
    }
    .brandcon{
      padding-top: 2rem;
      gap:0px;
      display: flex;
      flex-direction: column;
      
    }
    .scaledown{
      
      margin-top: 0;
      margin-bottom: 0;
    }
    .h1wrp{
      margin-right: 0rem;
    }
    .ctaimg{
     width: 50rem;
     height: 20rem;
    }
    .ctabtn{
      margin-right: auto;
      margin-left: auto; 
      margin-top: 20%;
    }
     .nwdedo{
      scale:0.8;
       
      
     }

     .qrn{
      width: 96%;
     }
     .crn{
      width: 70%;
     }
    

  }


  

  .displaynone {
    display: none;
  }
  


  .pagebar{
     border:solid 1px #282c80 !important;
 
  }
  .pagebar:active{
    border:solid 1px #061b6f !important;
  }

 